@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.home {
  background: url(../img/Bg.png) no-repeat;
}
.home #menu__toggle {
  opacity: 0;
}
.home .menu__btn {
  display: none;
}
@media screen and (max-width: 900px) {
  .home .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
}
.home .menu__btn span,
.home .menu__btn span::before,
.home .menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #03d4c8;
}
.home .menu__btn > span::before {
  content: "";
  top: -8px;
}
.home .menu__btn > span::after {
  content: "";
  top: 8px;
}
.home #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.home #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.home #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.home #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.home .menu__box {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .home .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(48, 43, 79, 0.9);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
}
.home .menu__box .logo {
  display: flex;
  font-weight: 300;
  font-size: 30px;
  color: #01ded0;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .home .menu__box .logo {
    display: none;
  }
}
.home .menu__box .logo .logo_text {
  padding-left: 10px;
}
.home .menu__box .menu__item {
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .home .menu__box .menu__item {
    display: block;
    padding: 18px 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
}
.home .menu__box .menu__item:hover {
  color: #01ded0;
}
.home .home_container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home_container .home_title {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 32px;
}
.home .home_container .home_hr {
  margin-top: 25px;
  width: 50px;
  height: 2px;
  background-color: #01ded0;
}
.home .home_container .home_text {
  padding: 30px 15px;
  line-height: 1.5;
  text-align: center;
  max-width: 780px;
  color: white;
  font-size: 14px;
}
.home .home_container .home_button {
  margin-top: 50px;
  margin-bottom: 150px;
  font-family: "Hammersmith One", sans-serif;
  width: 120px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.home .home_container .home_button:focus {
  outline: none;
}
.home .home_container .home_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}

.story {
  max-width: 1170px;
  padding-bottom: 100px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .story {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.story .story_content {
  padding-left: 100px;
}
@media screen and (max-width: 900px) {
  .story .story_content {
    padding-left: 0px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.story .story_content .story_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}
.story .story_content .story_text {
  font-family: "Roboto", sans-serif;
  max-width: 540px;
  font-size: 14px;
  padding-top: 20px;
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .story .story_content .story_text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.story .story_content .story_button {
  margin-top: 20px;
  font-family: "Hammersmith One", sans-serif;
  width: 120px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.story .story_content .story_button:focus {
  outline: none;
}
.story .story_content .story_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}

.story_video {
  background: url(/img/bg_story.png);
}
.story_video .story_video_container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story_video .story_video_container .story_video_play {
  margin-top: 200px;
  cursor: pointer;
}
.story_video .story_video_container .story_video_title {
  margin-top: 35px;
  padding-bottom: 200px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
}

.expertise {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expertise .expertise_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}
.expertise .expertise_text {
  padding-top: 20px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}
.expertise .expertise_hr {
  margin-top: 20px;
  width: 50px;
  height: 2px;
  background-color: gray;
}
.expertise .expertise_container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.expertise .expertise_box {
  width: 33%;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .expertise .expertise_box {
    width: 50%;
  }
}
@media screen and (max-width: 601px) {
  .expertise .expertise_box {
    width: 100%;
  }
}
.expertise .expertise_box .expertise_box_title {
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.expertise .expertise_box .expertise_box_text {
  padding-top: 30px;
  max-width: 260px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}