@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.home {
  background: url(../img/Bg.png) no-repeat;
}
.home #menu__toggle {
  opacity: 0;
}
.home .menu__btn {
  display: none;
}
@media screen and (max-width: 900px) {
  .home .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
}
.home .menu__btn span,
.home .menu__btn span::before,
.home .menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #03d4c8;
}
.home .menu__btn > span::before {
  content: "";
  top: -8px;
}
.home .menu__btn > span::after {
  content: "";
  top: 8px;
}
.home #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.home #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.home #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.home #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.home .menu__box {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .home .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(48, 43, 79, 0.9);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
}
.home .menu__box .logo {
  display: flex;
  font-weight: 300;
  font-size: 30px;
  color: #01ded0;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .home .menu__box .logo {
    display: none;
  }
}
.home .menu__box .logo .logo_text {
  padding-left: 10px;
}
.home .menu__box .menu__item {
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .home .menu__box .menu__item {
    display: block;
    padding: 18px 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
}
.home .menu__box .menu__item:hover {
  color: #01ded0;
}
.home .home_container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home_container .home_title {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 32px;
}
.home .home_container .home_hr {
  margin-top: 25px;
  width: 50px;
  height: 2px;
  background-color: #01ded0;
}
.home .home_container .home_text {
  padding: 30px 15px;
  line-height: 1.5;
  text-align: center;
  max-width: 780px;
  color: white;
  font-size: 14px;
}
.home .home_container .home_button {
  margin-top: 50px;
  margin-bottom: 150px;
  font-family: "Hammersmith One", sans-serif;
  width: 120px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.home .home_container .home_button:focus {
  outline: none;
}
.home .home_container .home_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}

.story {
  max-width: 1170px;
  padding-bottom: 100px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .story {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.story .story_content {
  padding-left: 100px;
}
@media screen and (max-width: 900px) {
  .story .story_content {
    padding-left: 0px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.story .story_content .story_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}
.story .story_content .story_text {
  font-family: "Roboto", sans-serif;
  max-width: 540px;
  font-size: 14px;
  padding-top: 20px;
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .story .story_content .story_text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.story .story_content .story_button {
  margin-top: 20px;
  font-family: "Hammersmith One", sans-serif;
  width: 120px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.story .story_content .story_button:focus {
  outline: none;
}
.story .story_content .story_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}

.story_video {
  background: url(../img/bg_story.png);
}
.story_video .story_video_container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story_video .story_video_container .story_video_play {
  margin-top: 200px;
  cursor: pointer;
}
.story_video .story_video_container .story_video_title {
  margin-top: 35px;
  padding-bottom: 200px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
}

.expertise {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expertise .expertise_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}
.expertise .expertise_text {
  padding-top: 20px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
}
.expertise .expertise_hr {
  margin-top: 20px;
  width: 50px;
  height: 2px;
  background-color: gray;
}
.expertise .expertise_container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.expertise .expertise_box {
  width: 33%;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .expertise .expertise_box {
    width: 50%;
  }
}
@media screen and (max-width: 601px) {
  .expertise .expertise_box {
    width: 100%;
  }
}
.expertise .expertise_box .expertise_box_title {
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.expertise .expertise_box .expertise_box_text {
  padding-top: 30px;
  max-width: 260px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.team {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url(../img/Bg.png) center/cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
  color: white;
  text-align: center;
}
.team .team_text {
  padding-top: 20px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  opacity: 0.8;
  color: white;
  text-align: center;
}
.team .team_hr {
  margin-top: 20px;
  width: 50px;
  height: 2px;
  background-color: white;
}
.team .team_container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.team .team_container .team_box {
  margin-top: 30px;
  width: 220px;
  margin-left: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team_container .team_box .team_box_name {
  padding-top: 15px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.team .team_container .team_box .team_box_post {
  padding-top: 5px;
  padding-bottom: 25px;
  text-align: center;
  color: gray;
  font-size: 13px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.team .team_text_secod {
  padding-top: 70px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: gray;
}
.team .team_button {
  margin-top: 20px;
  font-family: "Hammersmith One", sans-serif;
  padding: 0px 15px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.team .team_button:focus {
  outline: none;
}
.team .team_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}

.works {
  padding-top: 70px;
  padding-bottom: 70px;
}
.works .works_container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works .works_container .works_title {
  padding-left: 10px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
}
.works .works_container .works_link {
  padding-right: 10px;
  color: gray;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.works .works_container .works_link .works_svg {
  margin-left: 10px;
}
.works .works_conatiner_second {
  width: 100%;
  margin-top: 70px;
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.works .works_conatiner_second .works_img {
  width: 16.6%;
  height: 200px;
}
@media screen and (max-width: 900px) {
  .works .works_conatiner_second .works_img {
    width: 25%;
  }
}
@media screen and (max-width: 601px) {
  .works .works_conatiner_second .works_img {
    width: 50%;
  }
}
.works .works_conatiner_second .img-1 {
  background: url(../img/1.png) center/cover;
  background-repeat: no-repeat;
}
.works .works_conatiner_second .img-2 {
  background: url(../img/2.png) center/cover;
  background-repeat: no-repeat;
}
.works .works_conatiner_second .img-3 {
  background: url(../img/3.png) center/cover;
  background-repeat: no-repeat;
}
.works .works_conatiner_second .img-4 {
  background: url(../img/4.png) center/cover;
  background-repeat: no-repeat;
}
.works .works_conatiner_second .img-5 {
  background: url(../img/5.png) center/cover;
  background-repeat: no-repeat;
}
.works .works_conatiner_second .img-6 {
  background: url(../img/6.png) center/cover;
  background-repeat: no-repeat;
}
.works .works_box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1170px;
}
.works .works_box .works_button {
  margin-top: 20px;
  font-family: "Hammersmith One", sans-serif;
  width: 140px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.works .works_box .works_button:focus {
  outline: none;
}
.works .works_box .works_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}

.people-say {
  background: url(../img/people_bg.png) center/cover;
  background-repeat: no-repeat;
  padding: 70px 0px;
}
.people-say .people-say_container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.people-say .people-say_container .people-say_text {
  max-width: 780px;
  padding: 0px 15px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  font-family: "Playfair Display", serif;
}
.people-say .people-say_container .people-say_name {
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
}
.people-say .people-say_container .people-say_post {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: gray;
  font-family: "Roboto", sans-serif;
}
.people-say .people-say_container .people-say_box {
  margin-top: 50px;
}
.people-say .people-say_container .people-say_box .people-say_img {
  margin-left: 10px;
}

.contact {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.contact .contact_form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .contact .contact_form {
    width: 100%;
    padding: 0px 15px;
    padding-top: 80px;
    text-align: center;
  }
}
.contact .contact_form .contact_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
}
@media screen and (max-width: 900px) {
  .contact .contact_form .contact_title {
    text-align: center;
  }
}
.contact .contact_form .contact_name {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  color: gray;
  font-family: "Roboto", sans-serif;
  outline: #0e0a2e;
}
.contact .contact_form .contact_email {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  color: gray;
  font-family: "Roboto", sans-serif;
  outline: #0e0a2e;
}
.contact .contact_form .contact_subject {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  color: gray;
  font-family: "Roboto", sans-serif;
  outline: #0e0a2e;
}
.contact .contact_form .class_massage {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  padding-left: 20px;
  color: gray;
  font-family: "Roboto", sans-serif;
  outline: #0e0a2e;
  padding-bottom: 120px;
}
.contact .contact_form .contact_button {
  margin-top: 20px;
  font-family: "Hammersmith One", sans-serif;
  width: 140px;
  height: 40px;
  border: 1px solid #03d4c8;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #03d4c8;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.contact .contact_form .contact_button:focus {
  outline: none;
}
.contact .contact_form .contact_button:hover {
  background-color: #03d4c8;
  color: white;
  transition: 0.5s linear;
}
.contact .contact_container .contact_title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
}
@media screen and (max-width: 900px) {
  .contact .contact_container .contact_title {
    text-align: center;
  }
}
.contact .contact_container .contact_box {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 380px) {
  .contact .contact_container .contact_box {
    flex-direction: column;
  }
}
.contact .contact_container .contact_box .contact_imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}
@media screen and (max-width: 900px) {
  .contact .contact_container .contact_box .contact_imgs {
    margin: 0px 20px;
  }
}
.contact .contact_container .contact_box .contact_imgs .contact_img {
  margin-top: 50px;
}

footer {
  background: url(../img/footer_bg.png) center/cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 900px) {
  footer {
    padding-top: 0px;
  }
}
footer .footer_container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  footer .footer_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  footer .footer_container .footer_box {
    padding-top: 30px;
  }
}
footer .footer_container .footer_box .footer_logo {
  display: flex;
  font-weight: 300;
  font-size: 30px;
  color: #01ded0;
  align-items: center;
}
footer .footer_container .footer_box .footer_logo .footer_logo_text {
  padding-left: 10px;
}
footer .footer_container .footer_box .footer_text {
  padding-top: 10px;
  font-size: 14px;
  max-width: 270px;
  font-weight: 400;
  color: lightgrey;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
footer .footer_container .footer_box .footer_studio_title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 900px) {
  footer .footer_container .footer_box .footer_studio_title {
    text-align: center;
  }
}
footer .footer_container .footer_box .footer_studio_position {
  padding-top: 30px;
  max-width: 270px;
  font-size: 14px;
  max-width: 270px;
  font-weight: 400;
  color: lightgrey;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
footer .footer_container .footer_box .footer_studio_position .footer_svg {
  margin-right: 10px;
}
footer .footer_container .footer_box .footer_studio_phone {
  padding-top: 10px;
  max-width: 270px;
  font-size: 14px;
  max-width: 270px;
  font-weight: 400;
  color: lightgrey;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
footer .footer_container .footer_box .footer_studio_phone .footer_svg {
  margin-right: 10px;
}
footer .footer_container .footer_box .footer_stay_title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 900px) {
  footer .footer_container .footer_box .footer_stay_title {
    text-align: center;
  }
}
footer .footer_container .footer_box form {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
}
footer .footer_container .footer_box form .footer_stay_subscribe {
  width: 211px;
  height: 45px;
  text-align: center;
  color: lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: none;
  border-right: none;
  background: rgba(0, 0, 0, 0);
}
footer .footer_container .footer_box form .footer_stay_button {
  width: 70px;
  height: 45px;
  background: url(../img/footer_Btn.png) center/cover;
  background-repeat: no-repeat;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
footer .footer_container .footer_box .soc_links {
  margin-top: 20px;
}
footer .footer_container .footer_box .soc_links .soc_link {
  margin: 0px 5px;
}
footer .footer_links_box {
  max-width: 1170px;
  padding: 50px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 540px) {
  footer .footer_links_box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
footer .footer_links_box .foter_links .footer_link {
  text-decoration: none;
  margin-right: 15px;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
footer .footer_links_box .copyright {
  margin-right: 15px;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 540px) {
  footer .footer_links_box .copyright {
    padding-top: 10px;
  }
}